html,
body {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

h1,h2,h3,h4,h5 {
    color: #333;
}

h6 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

img {
    max-width: 100%;
}
a:hover{
    text-decoration: none;
}

.blockquote {
    font-size: 1.6rem;
    color: #333;
    border: none;
    padding: 0;
}

.blockquote-footer {
    margin: 1rem 0 0;
}

/*stage content*/
#stage-register{
    height: 38rem;
    width: 100%;
    display: flex;
    align-items: center;
}
#stage-tentang{
    height: 38rem;
    width: 100%;
    display: flex;
    align-items: center;
}
#stage-1{
    height: auto;
    width: 100%;
}

#stage {
    background: url("../../img/background11.jpg") center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

#stage-caption {
    font-size: 1.4rem;
    font-weight: 200;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
}

#stage-caption h1 {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

#feature-one{
    padding-top: 2rem;
}
/*feature-contetn*/
.feature-content {
    padding: 5rem 0;
    overflow: hidden;
}

.feature-content img {
    margin-bottom: -8rem;
}

.feature-dark {
    background: #262F36;
    color: white;
}

.feature-dark h2 {
    color: white;
}

.feature-alt {
    background: #f0f0f0;
}

#feature-four .feature-content {
    padding: 4rem;
}

#feature-five img {
    margin-top: 2rem;
}

#main-footer {
    background: #262F36;
    color: white;
    padding: 6rem 0;
    font-size: 0.8rem;
}

#main-footer h6 {
    color: #718FA9;
}

#main-footer a {
    color: #6C6F73;
}

/* Media Queries */

@media screen and ( min-width : 991px ) {
    
    .feature-content  {
        display: flex;
        align-items: center;
    }
    
}

.features-icons{
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.box-shadow { 
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); 
}


/*about page*/
.team-content {
    padding: 0px 15px 15px 15px;
}
.border-team {
    border-bottom:1px solid #e2e2e2;
    margin-bottom:10px;
}
.team-img:hover {
    background:#f5f5f5;
    
}